torch==2.5.0 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.20.0 --index-url https://download.pytorch.org/whl/cu121
torchaudio==2.5.0 --index-url https://download.pytorch.org/whl/cu121
numpy==1.26.4
scipy
sapien==2.2.1
gym
tqdm
open3d
trimesh
zmq